*.class
*.log

# sbt specific
#dist/*
target/
#lib_managed/
#src_managed/
#project/boot/
#project/plugins/project/

#intellij specific
.idea
*.iml

# Scala-IDE specific
.scala_dependencies

# Eclipse specific
.project
.classpath
.cache
.settings/
.worksheet/

# IntelliJ specific
.idea/
.idea_modules/
